<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<h1>My Food Tracker - View Meal Details</h1>
			<form role="form" action="" method="POST">
		    {% csrf_token %}
			<table class="table table-bordered table-striped">
				<tbody>
					<tr>
						<th colspan="2">{{ meal_form.food }}</th>
					</tr>
					<tr>
						<th>Calories</th>
						<th>{{ meal_form.get_total_calories }} kcal</th>
					</tr>
					<tr>
						<th>Serving Size</th>
						<th>{{ meal_form.serving_size }}</th>
					</tr>
					<tr>
						<th>Total Fat</th>
						<th>{{ meal_form.get_total_fat }} g</th>
					</tr>
					<tr>
						<th>Saturated Fat</th>
						<th>{{ meal_form.get_total_saturated_fat }} g</th>
					</tr>
					<tr>
						<th>Cholesterol</th>
						<th>{{ meal_form.get_total_cholesterol }} mg</th>
					</tr>
					<tr>
						<th>Sodium</th>
						<th>{{ meal_form.get_total_sodium }} mg</th>
					</tr>
					<tr>
						<th>Total Carbohydrate</th>
						<th>{{ meal_form.get_total_carbohydrate }} g</th>
					</tr>
					<tr>
						<th>Dietary Fibre</th>
						<th>{{ meal_form.get_total_dietary_fibre }} g</th>
					</tr>
					<tr>
						<th>Sugar</th>
						<th>{{ meal_form.get_total_sugar }} g</th>
					</tr>
					<tr>
						<th>Protein</th>
						<th>{{ meal_form.get_total_protein }} g</th>
					</tr>
				</tbody>
			</table>
		</form>
		</div>
	</body>
</html>

<script>

</script>